<div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>Shots name</h3>
        <img src="https://dummyimage.com/300" alt="video-thumbnail">
      </div>
      <div class="col-md-8">
        <h2>Shots List Page</h2>
        <h3> some description related to shots list.</h3>
        <div class="row shots-container">
          <div class="col-md-3 col-lg-3 col-sm-3 shots-wrapper" *ngFor="let shot of shotsList" >
              <a href="/shots/{{shot}}" class="shots-overlay">
                <div class="shots-thumbnail">
                    <img src="https://dummyimage.com/100" alt="video-thumbnail">
                </div>
                <div class="play-icon">
                  <clr-icon shape="play"></clr-icon>
                </div>
                <div class="shots-details">
                  <span class="duration">2:45</span>
                </div>
              </a>
          </div>
        </div>
      </div>
    </div>
  </div>