<!--The content below is only a placeholder and can be replaced.-->
<div class="main-container">
  <app-header></app-header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
  <app-footer></app-footer>
</div>
